.env
__pycache__/
*.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
env/
.venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
__pypackages__/
*.log
*.sqlite3
instance/
.vscode/
.idea/
.DS_Store
logs/
*.log
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*